<form action="/notes_entry" method="post">
TITLE<input type="text" name="title"/>
SUBJECT<input type="text" name="subject"/>
SEM<input type="text" name="semester"/>
YEAR<input type="text" name="year"/>
RATINGS(1-5)<input type="text" name="ratings"/>
HASHTAGS(SEP BY COMMA)<input type="text" name="hashtags"/>
LINK<input type="text" name="link"/>
<input type="submit" name="submit"/>
</form>