{{#each resource.articles}}
<<<<<<< HEAD
<div>
	<h1 style="font-family: 'East Sea Dokdo', cursive;">{{title}}</h1>
	<hr>
=======
<div class="media text-muted pt-3">

	<p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
		<strong class="d-block text-gray-dark">{{title}}</strong>
		{{description}}
	</p>
>>>>>>> 9886e1f47594562ed2f01d793ff0ea56f1a68c42
</div>
{{/each}}