<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Add Meet & Greet</h1>
    </div>
<form class="form-signin" method="post" action="/meetandgreet" style="width:300px; padding-top:50px;">

    <div class="form-label-group">
        <label for="inputEmail">Topic</label>
        <input name="topic" type="text" id="inputTopic" class="form-control" required autofocus>
    </div>

    <div class="form-label-group">
        <label for="inputTitle">Title</label>
        <input name="title" type="text" id="inputNTitle" class="form-control" required autofocus>
    </div>

    <div class="form-label-group">
        <label for="inputPassword">Description</label>
        <input name="description" type="textarea" id="inputDescription" class="form-control" required>
    </div>
    <div class="form-label-group">
        <label for="inputPassword">Date</label>
        <input name="date" type="date" id="inputDate" class="form-control" required>
    </div>
    <div class="form-label-group">
        <label for="inputPassword">Time</label>
        <input name="time" type="time" id="inputTime" class="form-control" required>
    </div>
    <div class="form-label-group">
        <label for="inputPassword">Place</label>
        <input name="place" type="text" id="inputPlace" class="form-control" required>
    </div>
    <br>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
</form>